*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url(../image/img4.jpg);
    text-decoration-color: white; 
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
}

#nav > a{
    color: white;
    text-decoration-line: none;
    padding: 10px;
}

#nav > a:hover{
  background-color: gold;
}

#nav > a:active{
    background-color: tomato;
}


#nav{
    padding-top: 10px;
    background-color: blueviolet;
    height: 30px;
}


#img_desc{
    float: left;
    margin-top: 20px;
    margin-left: 22%;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 4px ridge white
}

#img_desc > *{
    color: white;
    text-align: center;
}

#img_desc > img{
    margin-left: 24%;
    opacity: 0.5;
}

#two{
    background-color: violet;
    display: inline-flex;
    margin-right: 50%;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;

}

#form{
    background-color:black;
    padding: 30px;
    width: 35%;
}

#form > form > input{
    color: black;
    position: static;
    right: 0px;
}

#form > form > select{
    color: black;
}

#form > form > textarea{
    color: black;
}

#form > form > *{
    font-size: larger;
    color: white;
    margin: 2%;
}

#map{
    width: 65%;
    background-color: yellowgreen;
}






button{
    background-color: blueviolet;
    width: 70px;
    height: 30px;
}

#credits > p{
    color: white;
    font-size: large;
}

#credits{
    padding-bottom: 30px;
}